@model IEnumerable<WebApplication3.Models.Leauge>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table table-sm">

    <a href="/Leauge/Add" class="btn btn-success">Yeni Klup Ekle</a>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Last</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.LeaugeName</td>
                <td>@item.Country</td>
                <td>@item.NumberOfTeams</td>
                <td><a href="/Leauge/Update/@item.Id" class="btn btn-success">Güncelle</a></td>
                <td><a href="/Leauge/Delete/@item.Id" class="btn btn-danger">Sil</a></td>
            </tr>
        }
    </tbody>

</table>>